
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 12000px;
    margin: auto;
    padding: 60px 0px;
    overflow: hidden;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    height: 100vh;
    background-image: linear-gradient(120deg, rgba(161, 196, 253, 0.29) 0%, #c2e9fb71 100%),url(/img/wes-hicks-4-EeTnaC1S4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    /*scrolea y no se mueve*/
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.titulo{
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.copy{
    font-size: 30px;
    color: white;
    text-align: center;
}

.button{
    padding: 10px;
    width: 112px;
    align-items: center;
}

.button:hover{
    cursor: pointer;
    background-color: #c2e9fb71;
}

footer{
    background-color: #c2e9fb71;
    width: 100%;
    height: 120px;
}

.hamburguesa{
    position: fixed;
    /*desplazarse de la derecha hacia la izquierda, 30px*/
    right: 30px;
    /**/
    top: 30px;
    background: white;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.menu-nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 20vw;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    transform: translate(110%);
    transition: transform 0.3s ease-in-out;
}

header:hover + .menu-nav{
    transform: translate(0%);
}